<div class="panel" data-openby="configBtn">
    <div class="block-header">
        <h2>Paneles ABM</h2>
    </div>
    <div class="block-content">
        <ul class="panel-list">
            {% if is_admin %}
            <li><a href="{{ url_for('users.render_users') }}">Usuarios</a></li>
            <li><a href="{{ url_for('bars.render_bars') }}">Bares</a></li>
            <li><a href="">Materias primas</a></li>
            <li><a href="">Ventas</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Empleados</a></li>
            <li><a href="">Gastos</a></li>
            {% endif %}
            {% if is_logged %}
            <li>
                <form action="{{ url_for('auth.logout') }}" method="POST" class="d-inline">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-link">Cerrar sesión</button>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</div>