{% extends 'partials/general_form.html' %}
{% set name_id = "name" if not table_id else table_id ~ "_name" %}

{% block form_content %}
<div class="form-group">
    <label for="cat_name">Nombre de la categoría:</label>
    <input type="text" id="cat_name" name="name" required>
</div>

<div class="form-group">
    <label for="sector">Sector:</label>
    <select id="sector" name="sector" required>
        <option value="kitchen">Cocina</option>
        <option value="bar">Bar</option>
    </select>
</div>
{% endblock %}
