{% extends 'partials/base.html' %}
{% block title %} Restaurante {% endblock %}

{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<!-- JS -->
{% endblock %}

{% block header %}
    {% include 'partials/nav.html' %}
{% endblock %}

{% block body %}
    <!-- Para el blurr y oscurecimiento de la página -->
    <div class="overlay"></div>
    <!-- Panel para actualizar usuario -->
    {% include 'partials/settings.html' %}
{% endblock %}