{% extends 'partials/general_form.html' %}

{% block form_content %}

{% if name_field %}
<div class="form-group">
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="name">
</div>
{% endif %}

<div class="form-group">
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email"
        {% if user and update_user %}value="{{ user.email }}"{% endif %}
        {% if update_user %}disabled{% endif %}
        {% if login or signup %}required{% endif %}>
</div>

<div class="form-group">
    <label for="password">{% if update_user or admin_user %}Nueva {% endif %}Contraseña:</label>
    <input type="password" id="password" name="password"
        {% if login or signup %}required{% endif %}>
</div>

{% if signup or update_user or admin_user %}
<div class="form-group">
    <label for="confirm_password">Confirmar contraseña:</label>
    <input type="password" id="confirm_password" name="confirm_password"
        {% if signup %}required{% endif %}>
</div>
{% endif %}

{% if admin_user %}
<div class="form-group">
    <label for="category">Categoría:</label>
    <select id="category" name="category" required>
        <option value="normal">Normal</option>
        <option value="client">Cliente</option>
        <option value="employee">Empleado</option>
        <option value="admin">Administrador</option>
        <option value="root">Raíz</option>
        <option value="system">Sistema</option>
    </select>
</div>
{% endif %}

{% endblock %}