{#
  abm.html -> Layout base para páginas de administración tipo ABM.

  Requiere (pasados al extender + render_template):
    page_title: str
    tables: list[dict]  -> ver adm_table.html para el shape de cada tabla.
                            Cada tabla puede opcionalmente traer "form_template": str,
                            que apunta al partial del form modal correspondiente.

  Bloques a sobreescribir en la página hija:
    area_js    El script con las llamadas a setupCrudModal(...), una por tabla.

    Tambien acepta un parametro main content para saber si es la pagina que va a estar centrada, en caso de que tambien haya sidebars
#}
{% extends 'partials/base.html' %}
{% from 'abm/adm_table.html' import render_table %}

{% block title %} {{ page_title }} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sections/abm.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/btns/edit_btn.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/pagination.css') }}">
{% block area_js %}{% endblock %}
{% endblock %}

{% block header %}
{% include 'partials/nav.html' %}
{% include 'partials/settings.html' %}
{% endblock %}

{% block body %}
<main class="page-content"
{% if tables | length == 1 %}
style="align-items: stretch; justify-content: center;"
{% endif %}>
    {% for table in tables %}
    <section class="block abm-block" data-abm="{{ table.id }}" 
    {% if table.main_content %}
    style="flex: 1;"
    {% elif table.secondary_content %}
    style="flex: 0.5;"
    {% endif %}
    >
        {{ render_table(table) }}
        {% if table.form_template %}
            {% include table.form_template %}
        {% endif %}
    </section>
    {% endfor %}
    <div class="overlay" id="overlay"></div>
</main>
{% endblock %}