<div class="{{ 'fixed-block' if abm else 'open' }}" data-openby="adminUser">
    <div class="block form-block">
        <div class="block-header">
            <h2>Nueva reservación</h2>
        </div>

        <form id="form-principal" action="{{ url_for('public_reservations.create') }}" method="POST">
            <div class="block-content" style="overflow: auto;">

                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" id="fecha" name="fecha" value="{{ fecha }}" required>
                </div>

                <div class="form-group">
                    <label for="hora">Horario</label>
                    <select id="hora" name="hora" required>
                        {% for h in [19, 20, 21, 22] %}
                        <option value="{{ h }}" {{ 'selected' if hora|string==h|string else '' }}>
                            {{ h }}:00
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="table_display">Mesa Seleccionada</label>
                    <input type="hidden" id="table_id" name="table_id">
                    <input type="text" id="table_display" name="table_display"
                        {% if not abm %}
                            placeholder="Hacé click en una mesa disponible arriba" readonly
                        {% else %}
                            required
                        {% endif %}
                    >
                </div>

                <div class="form-group">
                    <label for="people_amount">Cantidad de personas</label>
                    <input type="number" id="people_amount" name="people_amount" min="1" max="20" required>
                </div>

                {% if abm %}
                    <div class="form-group">
                        <label for="user_email">Email del Usuario</label>
                        <input type="email" id="user_email" name="user_email" required>
                    </div>

                    <div class="form-group">
                        <label for="status_reservation">Estado de la Reserva</label>
                        <select id="status_reservation" name="status_reservation" required>
                            <option value="Pending">Pendiente</option>
                            <option value="Confirmed">Confirmada</option>
                            <option value="Cancelled">Cancelada</option>
                            <option value="Arrived">Llegada</option>
                        </select>
                    </div>
                {% endif %}
            </div>

            <div class="block-footer">
                <button class="submit-btn" type="submit">
                    Confirmar reservación
                </button>
            </div>
        </form>
    </div>
</div>